<app-toast [message]="toast.message"></app-toast>

<h4 class="card-header">Manage Panel</h4>
<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>


<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current Ads ({{ads.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped" >
      <thead class="thead-default" style="width: auto">
      <tr style="width: 15px;"  >
        <th>Name</th>
        <th>Number</th>
        <th>Content</th>
        <th>Pic</th>
        <th>Template</th>
        <th>Date</th>
        <th>Days To Show</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody *ngIf="ads.length === 0">
      <tr>
        <td colspan="8">There are no ads in the DB. Add a new ad below.</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing" style="width: auto">
      <tr *ngFor="let ad of ads" style="width: auto">
        <td>{{ad.messageName}}</td>
        <td>{{ad.messageID}}</td>
        <td>{{ad.messageText}}</td>
        <td><img src={{ad.messagePics}} width="60px" height="32px"></td>
        <td>{{ad.messageTemplatePath}}</td>
        <td>{{ad.startDateWithTime}}</td>
        <td>{{ad.numOfdaysToShow}}</td>
        <td>{{ad.address}}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="enableEditing(ad)"><i class="fa fa-edit"></i> Edit </button> <button class="btn btn-sm btn-danger" (click)="deleteAd(ad)"><i class="fa fa-trash"></i> Delete</button>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isEditing" style="width: auto;">
      <tr>
        <td colspan="8" style="width: auto">
          <form class="form" #form="ngForm" (ngSubmit)="editAd(ad)" style="display:block; width: auto">
            <div class="form-group">
              <input class="form-control" type="text" name="messageName" [(ngModel)]="ad.messageName" placeholder="messageName" maxlength="15" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="number" name="messageNameID" [(ngModel)]="ad.messageID" placeholder="messageID" maxlength="7" min="0" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="messageText" [(ngModel)]="ad.messageText" placeholder="messageText" maxlength="20" required>
            </div>
            Pics:
            <div class="form-group form-control">
              <table class="table table-sm" name="pics">
                <thead>
                <tr>
                  <th>
                    <img src="http://i64.tinypic.com/2jbuwx2.png" width="142" height="52">
                  </th>
                  <th>
                    <img src="http://i67.tinypic.com/2uhlks0.jpg" width="124" height="62">
                  </th>
                  <th>
                    <img src="http://i65.tinypic.com/e6t5xz.png" width="142" height="72">
                  </th>
                  <th>
                    <img src="http://i66.tinypic.com/2jfdq1i.jpg" width="172" height="72">
                  </th>
                  <th>
                    <select style="padding-left: 0px" name="messagePics" [(ngModel)]="ad.messagePics" placeholder="messagePics" required>
                      <option value="http://i64.tinypic.com/2jbuwx2.png">MongoDB</option>
                      <option value="http://i67.tinypic.com/2uhlks0.jpg">TypeScript</option>
                      <option value="http://i65.tinypic.com/e6t5xz.png">NodeJS</option>
                      <option value="http://i66.tinypic.com/2jfdq1i.jpg">MeanStack</option>
                    </select>
                  </th>
                </tr>
                </thead>
              </table>
            </div>

            Template:
            <div class="form-group form-control">
              <select style="padding-left: 0px" name="messageTemplatePath" [(ngModel)]="ad.messageTemplatePath" placeholder="messageTemplatePath" required>
                <option value="A">Template A</option>
                <option value="B">Template B</option>
                <option value="C">Template C</option>
              </select>
            </div>

            <div class="form-group">
              <input class="form-control" type="date" name="startDateWithTime" [(ngModel)]="ad.startDateWithTime" placeholder="startDateWithTime" required>
            </div>

            Days:
            <div class="form-group form-control">
              <select name="numOfdaysToShow" size="7" [(ngModel)]="ad.numOfdaysToShow" placeholder="numOfdaysToShow" name="numOfdaysToShow">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Thursday">Thursday</option>
                <option value="Saturday">Saturday</option>
              </select>
            </div>

            <div class="form-group">
              <input class="form-control" type="text" step="any" name="address" [(ngModel)]="ad.address" placeholder="address" required>
            </div>


            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
          </form>
          <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new ad</h4>
  <div class="card-block">
    <form class="form" [formGroup]="addAdForm" (ngSubmit)="addAd()" style="text-align:center">

      <!--Add message Name-->
      Message Name:
      <div class="form-group">
        <input class="form-control" type="text" name="messageName" formControlName="messageName" maxlength="15" placeholder="Name">
      </div>

      <!--Add MessageID-->
      Message Number:
      <div class="form-group">
        <input class="form-control" type="number" name="messageID" formControlName="messageID" placeholder="Number" min="0" max="99999" maxlength="5">
      </div>

      <!--Add message Text-->
      Message Content:
      <div class="form-text">
        <input class="form-control" type="text" name="messageText" formControlName="messageText" maxlength="20" placeholder="Text">
      </div>

      <!--Add Pics-->
      Message Pic:
      <div class="form-group">
        <table class="table table-sm" name="pics">
          <thead id="pics">
          <tr>
            <th>
            <img src="http://i64.tinypic.com/2jbuwx2.png" width="142" height="52">
            </th>
            <th>
              <img src="http://i67.tinypic.com/2uhlks0.jpg" width="124" height="62">
            </th>
            <th>
              <img src="http://i65.tinypic.com/e6t5xz.png" width="142" height="72">
            </th>
            <th>
              <img src="http://i66.tinypic.com/2jfdq1i.jpg" width="172" height="72">
            </th>
             <th>
            <select style="padding-left: 0px" size="4" name="messagePics" formControlName="messagePics">
              <option value="http://i64.tinypic.com/2jbuwx2.png">MongoDB</option>
              <option value="http://i67.tinypic.com/2uhlks0.jpg">TypeScript</option>
              <option value="http://i65.tinypic.com/e6t5xz.png">NodeJS</option>
              <option value="http://i66.tinypic.com/2jfdq1i.jpg">MeanStack</option>
            </select>
            </th>
          </tr>
          </thead>
        </table>
      </div>

      <!--Add Start Date & Time-->
      Message Date and Time:
      <div class="form-group">
        <input class="form-control" type="date" id="startDateWithTime" name="startDateWithTime" formControlName="startDateWithTime" >
      </div>

      <!--Add Template Path-->
      Message Template:
      <div class="form-group">
        <select class="form-control" id="messageTemplatePath" name="messageTemplatePath" formControlName="messageTemplatePath" >
          <option value="A">Template One</option>
          <option value="B">Template Two</option>
          <option value="C">Template Three</option>
        </select>
      </div>


      <!--Add Days-->
      Message Days:
      <div class="form-group">
        <select name="numOfdaysToShow" size="7" formControlName="numOfdaysToShow">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Thursday">Thursday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </div>

      <!--Address-->
      Message Address:
      <div class="form-text">
        <input class="form-control" type="text" name="address" formControlName="address" placeholder="address" #search>
      </div>

      <br>

      <button class="btn btn-primary" type="submit" [disabled]="!addAdForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
